* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
}

header {
    background-color: white;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.navbar_upper {
    background-color: #ABC763;
    height: 30px;
}

.navbar_upper > ul {
    text-decoration: none;
    padding-left: 40px;
    display: inline;
    font-size: 20px;
}

.navbar_upper > ul > li {
    display: inline-block;
    list-style: none;
    margin: 5px 0 5px 0;
    color: white;
    padding-left: 10px; 
}

.navbar_lower {
    height: 150px;
    text-align: right;
    position: relative;
}

.navbar_logo {
    height: 100%;
    overflow: hidden;
    position: absolute;
}

.navbar_logo img {
    width: 600px;
    height: 400px;
    margin: -125px -150px 0px -100px;
}

.navbar_lower > ul {
    display: inline;
    font-size: 2em;
    padding-right: 100px;
    text-align: right;
    line-height: 150px;
}

.navbar_lower > ul > li {
    display: inline-block;
    list-style: none;
    padding-left: 100px; 
}

.navbar_lower > ul > li > a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.contact_button {
    padding: 15px 20px 15px 20px;
    background-color: #ABC763;
    border-radius: 50px;
    color: white;
}

.welcome {
    width: 100%;
}

.welcome_image {
    margin-top: 180px;
    position: relative;
    text-align: center;
}

.welcome_image img {
    width: 100%;
}

.welcome_intro {
    color: rgb(64, 99, 9);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome_title {
    font-size: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 80vw;
    border-style: outset;
    border-width: 10px;
    background-color: rgba(255,255,255,0.5);
}

.welcome_message {
    font-size: 50px;
    font-style: italic;
    width: 60vw;
    background-color: rgba(255,255,255,0.5);
    border-style: outset;
    border-width: 5px;
}

.dcm_icons {
    display: flex;
    justify-content: space-around;
}

.dcm_icons div {
    margin-top: -100px;
    z-index: 1;
    width: 400px;
    height: 300px;
    text-align: center;
    font-size: 50px;
    box-shadow: 0 0 10px rgb(255, 255, 255);
}

.dcm_icons div img {
    padding-top: 50px;
}

.design, .maintain {
    background-color: #ABC763;
    color: white;
}

.construct {
    background-color: white;
    color: #ABC763;
}

.about_us {
    width: 100%;
}

.about_us_container {
    margin: 200px 100px 200px 100px;
    display: flex;
    justify-content: center;
    border-style: groove;
    border-width: 5px;
    border-color: #ABC763;
}

.landscapers img {
    padding: 50px;
}

.about_us_body {
    text-align: center;
}

.about_us_description h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3em;
    padding-top: 10px;
}

.get_in_touch {
    margin-top: 100px;
}

.get_in_touch_button {
    color: black;
    padding: 10px;
    font-weight: bold;
    border-style: solid;
    line-height: 50px;
    text-decoration: none;
}

.services_title {
    position: relative;
}

.services_title img {
    width: 100%; 
}

.services_title p {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 200px;
}

.services_list {
    display: flex;
    justify-content: center;
}